<nav class="navbar">
    <div class="logo">
        <img src="assets/logo5.png">
    </div>
    <ul class="nav-links">
        <li><a routerLink="/"> Página Inicial</a></li>
        <li><a routerLink="/quemsomos"> Quem somos</a></li>
        <li><a routerLink="/camisas"> Camisas</a></li>
        <li><a routerLink="/albuns"> Álbuns</a></li>
        <li><a routerLink="/bandlist"> História das bandas</a></li>
        <li><a routerLink="/artistas"> História dos artistas</a></li>
        <li><a routerLink="/carrinho"> Carrinho</a></li>
        
        
    </ul>
</nav>
