.all {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: inline;
    min-height: 100vh;
  }

  li {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin: 20px;
    width: 300px;
    transition: transform 0.2s ease-in-out;
    display: inline-block;
  }

  .container:hover {
    transform: scale(1.05);
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  h3 {
    margin: 10px 0;
    font-size: 1.2rem;
  }

  p {
    margin: 5px 0;
    font-size: 30px;
    color: #f4f4f4;
  }

  .button2 {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 11px 10px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.2s ease-in-out;
  }


  h2{
    font-size: 2rem;
      text-align: center;
      margin-bottom: 20px;
      color: rgb(255, 255, 255);
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .info{
    font-size: 20px;
  }
  .cleancart{
    background-color: #f80000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 11px 10px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.2s ease-in-out;
  }
